# Compiled Object files
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib

# Executables
*.exe

# DUB
.dub
dub.selections.json
docs.json
__dummy.html
docs/
libalpmd-test-library

# Code coverage
*.lst
errors
compilation_errors_report.txt
new_compilation_errors.txt
